BE_ENV=local
BE_PORT=8889
COOKIE_DOMAIN=127.0.0.1
CORS_ALLOW_ORIGIN=http://127.0.0.1:3000,http://localhost:3000

DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=muhsandi
DB_PASSWORD=
DB_DATABASE=blokmarket

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASS=

LOG_LEVEL=5

JWT_SECRET=
JWT_EXPIRE_MINUTES=120   

UPLOAD_DIR=uploads
UPLOAD_PUBLIC_BASE=/api/uploads


GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRE=
GOOGLE_REDIRECT_URL=